<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <ul>
        {{#each pessoas}}
        <li>
            <a href="/pessoas/ver/{{id}}">{{nome}}</a>
            <a href="/pessoas/{{id}}/editar">editar</a>
            <form action="/pessoas/excluir/{{id}}" method="POST" style="display:inline;"> <button type="submit"
                    onclick="return confirm('Confirma exclusão?')">
                    excluir
                </button>
            </form>
        </li>
        {{/each}}
    </ul>
</body>

</html>