<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Pessoa</title>
</head>

<body>
    <h2>Editar Pessoa</h2>
    <form action="/pessoas/{{pessoa.id}}/editar" method="POST">
        <input type="text" name="nome" value="{{pessoa.nome}}" required> <button type="submit">Salvar</button>
    </form>
    <a href="/pessoas">Voltar</a>
</body>

</html>